.counter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightblue;
    padding-bottom: 30px;
}

button {
    width: 50%;
}

button.add_counter {
    width: 100%;
}

.display {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#root {
    display: flex;
    justify-content: center;
}
